.navbar-horizontal {
  &.navbar-darmk {
    background: rgba(0, 0, 0, 1);
  }
}

.header-signin-btn {
  color: $white !important;
  padding-top: 5px;
  border-radius: 5px;
  background: $primary;

  @include media(">phone", "<tablet") {
    padding: 7px 10px !important;
  }
}

.app-navbar {
  // position: "fixed";
  // z-index: 999;
  // top: 0;
  // left: 0;
  // right: 0;
  // display: "flex";
  // justify-content: "space-between";
  // align-items: "center";
  transition: all ease 0.5s;
  &.navbar-black {
    background: $black;
  }

  .user-avatar {
    @include media(">phone", "<tablet") {
      width: 32px;
      height: 32px;
    }
  }

  .nav-toggle {
    background: none;
    border: none;
    border-radius: 50%;
    &:hover {
      background: none;
      border: none;
    }
    &::after {
      display: none;
    }
  }
}
