.header {
  position: relative;
  // height: 50vh;
  background: url("../../img/theme/cover.jpg") no-repeat center center/cover;

  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background: linear-gradient(to top, #000 20%, transparent 150%);
  }
}

.profile-header {
  position: relative;

  @include media(">tablet") {
    padding: 0 30px !important;
  }

  // .mask {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   opacity: 0.9;
  //   transition: 0.5s ease;

  //   &.bg-gradient-default {
  //     background: linear-gradient(87deg, #172b4d, #1a174d);
  //   }
  // }
}

.featured {
  height: 100vh;
  .gradient-vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, $black 10%, transparent 90%);

    .gradient-horizontal {
      width: inherit;
      height: inherit;
      opacity: 0.9;
      background: linear-gradient(to right, $black 30%, transparent 70%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      padding-bottom: 250px;

      @include media(">phone", "<tablet") {
        padding-left: 0;
        padding-bottom: 100px;
      }

      .title {
        font-size: 50px;
        font-weight: bold;

        @include media(">phone", "<tablet") {
          font-size: 30px;
        }
      }

      .rating {
        display: flex;
        margin-top: 35px;
        padding-left: 30px;

        @include media(">phone", "<tablet") {
          margin-top: 14px;
          padding-left: 15px;
        }
      }
      .year {
        @include media(">phone", "<tablet") {
          padding-top: -200px;
        }
      }
      .description {
        color: $gray-500;
        max-width: 54%;
        margin-bottom: 60px;
        margin-top: 40px;

        @include media(">phone", "<tablet") {
          max-width: 100%;
          margin-bottom: 30px;
          margin-top: 20px;
          font-size: 13px;
          color: $gray-300;
        }

        @include media(">=tablet", "<desktop") {
          max-width: 80%;
          font-size: 16px;
          color: $gray-300;
        }
      }
      .buttonRow {
        display: flex;

        .btn-play {
          @include media(">phone", "<tablet") {
            padding: 7px 10px;
          }
          .btn-icon {
            padding: 10px 12px;
            font-size: 16px;
          }
          .btn-text {
            padding-right: 12px;
          }
        }

        .btn-more {
          background: $black;
          color: $gray-500;
          border-radius: 7px;
          border: 1px solid $gray-700;
          margin-left: 30px;
          padding: 10px 20px;
          opacity: 1;
          transition: all ease 0.2s;

          @include media(">phone", "<tablet") {
            padding: 7px 10px;
            margin-left: 15px;
          }

          &:hover {
            opacity: 0.7;
          }
          .btn-icon {
            padding: 10px 12px;
            font-size: 16px;
          }
          .btn-text {
            padding-right: 12px;
          }
        }
      }
      .btn-trailer {
        margin-top: 25px;
        cursor: pointer;
        text-decoration: $link-decoration;
        color: $link-color;

        &:hover {
          opacity: 0.9;
          text-decoration: $link-hover-decoration;
        }

        .trailer-icon {
          margin-right: 10px;
          font-size: 16px;
          color: $primary;
        }
        .trailer-text {
          padding-right: 12px;
          font-size: 14px;
          color: $primary;
        }
      }
    }
  }
}
